/* цвет основного текста #212121*/
/* вторичный цвет #757575 */
/*белый #FFFFFF*/
/*акцент #2196F3; #000000; rgba(255, 255, 255, 0.6);*/
/* основной цвет фона #e5e5e5*/
/* вторичный цвет фона #2F303A; #F5F4FA; #FFFFFF */
/* body */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-first: #2196f3;
  --accent-text-second: #000000;
  --accent-text-third: rgba(255, 255, 255, 0.6);
  --primari-background-color: #e5e5e5;
  --title-background-color: #2f303a;
  --accent-background-color: #f5f4fa;
  --wite: #ffffff;
  --icon-color: #afb1b8;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  padding-inline-start: 0px;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

/* body */

.page {
  background-color: var(--wite);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* header */

.header {
  background-color: var(--wite);
}
.header-container,
.container,
.footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
/* logo header */

.logo-header {
  display: inline-block;
  color: var(--accent-text-second);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-top {
  color: var(--accent-text-first);
}
.site-nav,
.contact-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-first);
}

.nav-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: var(--accent-text-first);
}
.nav-link.current {
  color: var(--accent-text-first);
  position: relative;
}

.nav-link.current::after {
  content: "";
  display: block;
  height: 4px;
  background-color: var(--accent-text-first);
  border-radius: 2px;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact-link {
  display: flex;
  margin-left: auto;
}
.contact-link .item + .item {
  margin-left: 50px;
}
.contact-link .link {
  color: var(--title-text-color);
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-text-first);
}
.icon-header {
  margin-right: 10px;
  fill: var(--title-text-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .icon-header,
.link:focus.icon-header {
  fill: var(--accent-text-first);
}
/* hero */
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero,
.footer {
  background-color: var(--title-background-color);
}
.hero {
  margin-top: 0px;
  text-align: center;
}
.hero-title,
.hero-button {
  color: var(--wite);
  text-align: center;
}
.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 200px;
}
.hero-button {
  display: inline-block;
  background-color: var(--accent-text-first);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 28px 10px 29px;
  margin-bottom: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* section */

/* section advantages */
.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
p {
  color: var(--title-text-color);
}
.feature-list {
  display: flex;
}
.list {
  margin-right: 30px;
}
.list::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-background-color);
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/clock1.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}
.list:last-child {
  margin-right: 0px;
}
.advantages {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
/* section what-we-do */
.what-we-do {
  padding-bottom: 94px;
}
.what-we-do-list {
  display: flex;
}
.do-list {
  margin-right: 30px;
  position: relative;
}

.do-list:last-child {
  margin-right: 0px;
}
.do-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
/* our-team */
.section {
  background-color: var(--accent-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-work,
.our-team,
.clients {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}
.list-item {
  margin-right: 30px;
  text-align: center;
  background-color: var(--wite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list:last-child {
  margin-right: 0px;
}
.team-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 30px;
  margin-bottom: 10px;
}
.occupation {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.social-links {
  display: inline-flex;
  margin-bottom: 30px;
  /* border-radius: 50%; */
}

.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link {
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: var(--accent-text-first);
  border-radius: 50%;
}

.social-links .social-link + .social-link {
  margin-left: 10px;
}

.social-icon {
  fill: var(--icon-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon {
  fill: var(--wite);
}
.instagram-icon {
  width: 20px;
  height: 20px;
}

.twitter-icon {
  width: 20px;
  height: 16px;
}
.facebook-icon {
  width: 20px;
  height: 40px;
}
.linkedin-icon {
  width: 20px;
  height: 20px;
}
/* clients */
.section-clients {
  background-color: #fff;
  padding-top: 97px;
  padding-bottom: 91px;
}
.list-clients {
  display: flex;
}
.svg-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  /* margin-bottom: 91px; */
  margin-right: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-clients:last-child {
  margin-right: 0px;
}
.icon-clients {
  fill: var(--icon-color);
  background-position: center;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-clients:hover,
.svg-clients:focus {
  border-color: var(--accent-text-first);
}
.svg-clients:hover .icon-clients,
.svg-clients:focus .icon-clients {
  fill: var(--accent-text-first);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}

.logo-footer,
.location {
  color: var(--wite);
  text-decoration: none;
}
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}
.contacts-list {
  margin-bottom: 9px;
}
.contacts:last-child {
  margin-bottom: 0px;
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.link {
  color: var(--accent-text-third);
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.income {
  flex-flow: column;
  display: inline-block;
}
.income-title {
  color: var(--wite);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
}
.income .social-links {
  margin-left: 70px;
}
.footer-social-links .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-links .social-link + .social-link {
  margin-left: 10px;
}

.foot .icon-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.foot .social-icon {
  fill: var(--wite);
}

.subscription-form {
  margin-left: 93px;
  max-width: 100%;
}
.subscription {
  color: var(--wite);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription-input {
  background-color: var(--title-background-color);
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
}
.subscription-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--wite);
  background-color: var(--accent-text-first);
  background-position: 160px center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}
.text-button {
  margin-left: 29px;
}
.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
  height: 24px;
  width: 24px;
  fill: var(--white);
}
/*backdrop/modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--wite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: animate 100ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.order-form-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.form-field {
  position: relative;
  width: 448px;
  margin: 0 auto 10px;
}
.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.form-input:focus {
  outline: none;
  border-color: var(--accent-text-first);
}

.text-area::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-name-img {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
}
.modal-tel-img {
  position: absolute;
  top: 32px;
  left: 14px;
  width: 13px;
  height: 13px;
}
.modal-email-img {
  position: absolute;
  top: 32px;
  left: 14px;
  width: 15px;
  height: 12px;
}
.form-input.name:hover {
  border-color: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-input.name:hover + .modal-name-img,
.form-input.name:focus + .modal-name-img {
  fill: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form-input.email:hover {
  border-color: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form-input.email:hover + .modal-email-img,
.form-input.email:focus + .modal-email-img {
  fill: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form-input.tel:hover {
  border-color: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form-input.tel:hover + .modal-tel-img,
.form-input.tel:focus + .modal-tel-img {
  fill: var(--accent-text-first);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.send-order {
  margin-top: 30px;
  text-align: center;
}
.send-order-btn {
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--wite);
  background: var(--accent-text-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.form-field {
  position: relative;
}
.checkbox-input {
  position: absolute;
  appearance: none;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 1px solid black;
  border-radius: 4px;
}
.license-accent {
  color: var(--accent-text-first);
  text-decoration: underline;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-text-first);
  background-image: url(../images/Vectorok.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text-first);
}

.text-area {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}
@keyframes animate {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-close:hover {
  color: var(--accent-text-first);
}

.close-order {
  width: 11px;
  height: 11px;
  fill: black;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-close:hover {
  color: var(--accent-text-first);
}

.close-order {
  width: 11px;
  height: 11px;
  fill: black;
}

/* Портфолио */

.portfolio {
  padding-top: 100px;
  border-top: 1px solid #ececec;
}
.portfolio-title {
  display: none;
}
.portfolio-nav-list {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

.portfolio-nav-list button:hover,
.portfolio-nav-list button:focus {
  background-color: var(--accent-text-first);
  color: var(--wite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-nav-list .list-btn + .list-btn {
  margin-left: 8px;
}

.portfolio-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-background-color);
  padding: 6px 22px;
  border-radius: 4%;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* work-examples */
.work-examples {
  display: flex;
  flex-wrap: wrap;
}
.work-examples .item-work:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-work {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--wite);
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-work:nth-child(3n) {
  margin-right: 0px;
}
.item-work:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}
.option-container {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.option-name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.option {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: var(--title-text-color);
}
.examples-container {
  position: relative;
  overflow: hidden;
}

.examples-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 23px;
  padding-left: 23px;

  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  color: var(--wite);
  background-color: var(--accent-text-first);
  opacity: 0;
  transform: translateY(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.work-examples .item-work:hover .examples-text {
  opacity: 1;
  transform: translatey(0);
}
